<configuration scan="true">

    <property name="LOG_DIR" value="./logs"/>
    <property name="PATTERN" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %level %logger{0} - %msg%n"/>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/spring-data-sandbox.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>


</configuration>